@using HolaMundoMVC.Models.ModelosProyectoEscuela
@model Alumno

@{ 
   ViewData["Title"] = "Información Alumno";
   Layout = "_Layout"; 
}

<h3>@ViewData["Title"]</h3>
<strong>Vista parcial:</strong>
<br>
@*Por defecto, trabaja con el modelo especificado en la vista (odelosProyectoEscuela.Asignatura) -->*@
<partial name="_UCObjetoBase" />
@*model="@Model.Nombre": Especificamos el modelo con el que trabajara el UC (Es necesario validar el tipo de entidad (si esta configurado) que recibe el UC*@

<p><i>@ViewBag.Fecha</i></p>
