@using HolaMundoMVC.Models.ModelosProyectoEscuela
@model IEnumerable<Curso>


@{ 
   ViewData["Title"] = "Lista de Cursos";
   Layout = "_Layout"; 
}

<h3>@ViewData["Title"]</h3>
<strong>Vista parcial:</strong>
<br>
<br>
<partial name="_UCListaObjetoBase" />




