@*Trabaja con el modelo de la vista que implementa el control de usuario, del tipo especificado (odelosProyectoEscuela.Asignatura)*@
@using HolaMundoMVC.Models.ModelosProyectoEscuela
@model Asignatura

<p>
   <strong>Nombre: </strong> @Model.Nombre
   <br>
   <strong>Id: </strong> @Model.Id
</p>