@*Trabaja con el modelo de la vista que implementa el control de usuario, del tipo especificado (odelosProyectoEscuela.Asignatura)*@
@using HolaMundoMVC.Models.ModelosProyectoEscuela.ObjetosBaseEInterfaces
@* @model ObjetoBase /: Como recibirá toda clase que herede de ObjetoBase, debe quedar débilmente tipado nuestro UC*@ 

<p>
   <strong>Nombre: </strong> @Model.Nombre
   <br>
   <strong>Id: </strong> @Model.Id
</p>